<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Chat - Projekt</title>
	<link type="text/css" rel="stylesheet" href="style.css" />
	<link type="text/css" rel="stylesheet" href="bootstrap.min.css" />
</head>

<body>
<div id="wrapper">
    
     <p class="welcome"><h1>ChatBox-2018</h1><b></b></p>
	 <p class="welcome"><h4>Login panel</h4><b></b></p>	
	
	<br><br>    
	 
	 <div class="row ">		
		 <div id="activities">
			<div class=" col-sm-4 col-md-4 col-lg-4 col-xl-4 col-centered ">
				<h4>User</h4>
			</div>	
		</div>	
		
		<div id="activities">
			<div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12 col-centered ">
				<form name="message" action="">
					<input name="usermsg" type="text" id="usermsg" size="63" />		
				</form>     		
			</div>							
		</div>	
	</div>
	
	<br>
	
	<div class="row ">		
		 <div id="activities">
			<div class=" col-sm-4 col-md-4 col-lg-4 col-xl-4 col-centered ">
				<h4>Password</h4>
			</div>	
		</div>	
		
		<div id="activities">
			<div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12 col-centered ">
				<form name="message" action="">
					<input name="usermsg" type="text" id="usermsg" size="63" />		
				</form>     		
			</div>							
		</div>	
	</div>
	
	 <br> 
	 
	<form name="message" action="">		
		<input name="submitmsg" type="submit"  id="submitmsg" value="Login" />
	</form> 
	
</div>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){ });
	</script>
	
</body>
</html>